<div class ="js-list">
         <div>
         <img src={{flags.svg}} alt={{flags.svg}} width="40" class ="js-img">
         </div>
         <h1>{{name.official}}</h1>
         </div>
 <ul>
   <li class="js-item">Capital:<span class ="js-icon">{{capital}}</span></li>
   <li class="js-item">Population:<span class ="js-icon">{{population}}</span></li>
   <li class="js-item">Languages:<span class ="js-icon">{{languages}}</span></li>
 </ul>
